  <div class="mainHeader">
    <div class="row align-items-center">
        
        <div class="col-lg-12 col-md-4 col-sm-5 col-12">
            <div class="headerRightSide">
                <div class="headerUserContainer">
                    <div class="headerUserData">
                        <div class="headerUserName">
                            <h3>
                            
                               {{ user.username ? user.username : 'N/A'}}
                            </h3>
                        </div>
                        <div class="headerUserDownIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </div>
                        <div class="headerUserProfile">
                            <p>

                            </p>
                        </div>
                    </div>
                    <div class="headerUserDropdown">
                        <ul>
                            <li>
                                <h3>
                                    {{user.username ? user.username : 'N/A'}}
                                </h3>

                            </li>
                            
                           
                            <li (click)="logoutConfirmation()">
                                <a href="javascript:void(0)"  >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-right svgUserIcon" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                    </svg>
                                    LogOut
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>