.main{
    padding: 0px;
}
.addempbtn{
background-color: #ff6a6a;
    float: right;
}

.disabled {
    pointer-events :none;
    cursor : none 
}
.cursorys{
    cursor: pointer;
}

.pageinationemp{
    float:right
}

.avtarimg{
    height: 50px;
}